<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="thread">
			<h4>Judul dari Thread</h4>

			<div class="meta">
				1 Oktober oleh Susi Wulandari
			</div>

			<div class="content">
				Halo saya sedang membangun forum untuk rails, sebagai tempat berdiskusi jika ada kesulitan
			</div>

			<div class="count">
				10 Obrolan
			</div>
			<div style="clear: both"></div>
		</div>

		<div class="thread">
			<h4>Judul dari Thread</h4>

			<div class="meta">
				1 Oktober oleh Susi Wulandari
			</div>

			<div class="content">
				Halo saya sedang membangun forum untuk rails, sebagai tempat berdiskusi jika ada kesulitan
			</div>

			<div class="count">
				10 Obrolan
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
</div>